protobuf==3.20.0
customtkinter==5.2.1
packaging==21.3
Pillow==8.4.0
CTKTable==0.8
patchify==0.2.3
pandas==2.0.3
nibabel==5.1.0
matplotlib==3.6.2
scipy==1.5.4
tensorflow==2.8.0
segmentation-models-3D==1.0.6
fpdf==1.7.2
pydicom==2.4.4
scikit-learn==1.3.2
